body {
  background-color: $lightblue;
  margin: 0;
  padding: 0;
  color: $white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background: url('../images/bg.jpg');
}

.wrapper {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
      text-align: center;
      margin-bottom: 100px;
    }

    h1,
    h2 {
      text-align: center;
      font-size: 24px;
    }

    .login-form,
    .signup-form {
      background-color: $form;
      width: 420px;
      height: auto;
      margin: 0 auto;
      padding: 30px;
      color: $white;

      form {

        margin: 30px 0 0;

        .form-group {
          margin-bottom: 0.8rem;
          position: relative;

          i {
            position: absolute;
            top: 50%;
            left: 3%;
            transform: translateY(-50%);
            z-index: 2;
            font-size: 20px;
            color: $grey;
          }


          .d-block {
            display: none !important;
          }

          input {
            padding: 20px;
            background-color: $lightblue;
            border: 1px solid $lightblue;
            color: $white;
            box-shadow: none;
            padding-left: 40px;
          }

          .form-control {
            background-clip: inherit;
          }
        }

        .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
          background-color: orange;
          height: 7px;
          width: 7px;
          left: -1.20rem;
          top: 0.5rem;
          background-image: none;
        }

        .custom-checkbox .custom-control-label {
          &:before {
            background-color: $transparent;
            border-color: $white;
            padding: 3px;
            border-radius: 3px;
          }

        }

        .checkbox {
          font-size: 15px;
          color: $grey;
        }

        .btn {
          width: 100%;
          background-color: $primary;
          outline: none;
          border: 0px;
          padding: 5px;
          font-size: 20px;
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 20px;
        }

        .forgot_password {
          text-align: center;

          a {
            text-decoration: none;
            color: $grey;
            font-size: 14px;
          }
        }

        .error {
          color: $red;
        }

      }
    }

    .signup-link,
    .login-link {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
      color: $grey;

      #signup_btn,
      #login_btn {
        color: $primary;
        background-color: transparent;
        border: 0;
        text-transform: capitalize;
      }
    }
  }
}
