@media (max-width:767px) {
  .wrapper {
    .container {

      .logo {
        margin-bottom: 40px;
      }

      h1,
      h2 {
        text-align: center;
        font-size: 24px;
      }

      .login-form,
      .signup-form {
        width: auto;
        height: auto;
      }
    }
  }
}

@media (min-width:768px) and (max-width:769px) {
  body {
    background-repeat: no-repeat;
  }

  .wrapper {
    .container {
      transform: translate(-50%, -60%);

      .login-form,
      .signup-form {
        width: 300px;
        height: auto;
      }
    }
  }
}

@media (min-width:1000px) and (max-width:1100px) {
  body {
    background-color: #2e3851;
    background-image: url('../images/bg.jpg');
  }
}

@media (min-width:770px) and (max-width:1200px) {
  body {
    background-repeat: no-repeat;
  }

  .wrapper {
    .container {

      transform: translate(-50%, -90%);

      .logo {
        margin-bottom: 40px;
      }

      h1,
      h2 {
        text-align: center;
        font-size: 24px;
      }

      .login-form,
      .signup-form {
        width: 350px;
        height: auto;
      }
    }
  }
}
