<template>
  <div>

    <div class="wrapper">
      <div class="container">
        <h1>Ready to get free access to the world of investing?</h1>
        <h2>Create an account to start using the platform.</h2>

        <div id="loginform">
          <Login></Login>
        </div>

        <div id="signupform">
          <Register></Register>
        </div>

      </div>
    </div>



    <!-- <div class="box">
      <div class="main" v-bind:class="{ register: isRegister, login: isLogin }">

        <div id="signupform" v-bind:class="{ active: isRegister }">
          <h1>Sign up</h1>
          <Register></Register>
        </div>

        <div>
          <div id="loginform" v-bind:class="{ active: isLogin }">
            <h1>Login</h1>
            <Login></Login>
          </div>
        </div>
      </div>

      <div id="login_msg">Have an account?</div>
      <div id="signup_msg">Don't have an account?</div>

      <div class="msg-sm">Get In Touch</div>

      <router-link id="login_btn" tag="button" to="/login">Login</router-link>
      <router-link id="signup_btn" tag="button"  to="/register">Sign up</router-link>

    </div> -->
  </div>
</template>

<script>
    import Login from '@/components/Login'
    import Register from '@/components/Register'

    export default {
        name: 'Home',
        components: {Login, Register},
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                isLogin: this.showLogin,
                isRegister: !this.showLogin
            }
        },
        props: ['showLogin'],
        watch: {
            $route(to, from) {
                this.isLogin = !this.isLogin
                this.isRegister = !this.isRegister
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
            },
            onReset(evt) {
                evt.preventDefault()
                this.form.email = ''
                this.form.password = ''
            }
        }
    }
</script>








