<template>
  <div>

     <div class="wrapper">
      <div class="container">

        <div class="logo">
          <img class="img-fluid" src="../assets/images/logo.png"/>
        </div>

        <div class="login-form">

          <h2>Log in to IQ Option</h2>

      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group
          id="email-label"
          label="Email address:"
          label-for="email"
        >

          <b-form-input
            id="email"
            v-model="form.email"
            type="email"
            placeholder="Email"
          ></b-form-input>

           <i class="fa fa-at"></i>
           <font-awesome-icon :icon="appIcon" />


          <div v-if="submitted && !$v.form.email.required" class="error">Email is required</div>
          <div v-if="submitted && !$v.form.email.email" class="error">Invalid Email</div>
        </b-form-group>


        <b-form-group
          id="password-label"
          label="Password"
          label-for="password"
        >
        <font-awesome-icon icon="at" />
          <b-form-input
            id="password"
            v-model="form.password"
            type="password"
            placeholder="Password"
          ></b-form-input>

          <i class="fa fa-lock"></i>

          <div v-if="submitted && !$v.form.password.required" class="error">Password is required</div>
          <div v-if="submitted && !$v.form.password.minLength" class="error">Password must be at least 6 characters</div>
        </b-form-group>

        <b-form-group id="input-group-4" class="checkbox">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="1" name="remember">Remember me</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

        <b-button type="submit" variant="primary" class="btn">Log in</b-button>
        <div class="forgot_password">
          <a href="#">Forgot Password?</a>
        </div>
      </b-form>
      </div>
      <div class="signup-link">
         Still don't have an account?<router-link id="signup_btn" tag="button"  to="/register">Sign up</router-link>
      </div>

      </div>
     </div>
  </div>
</template>

<script>

    import { required, email, minLength } from 'vuelidate/lib/validators'


    export default {
      name: 'Login',

        data() {
            return {
                form: {
                    email: '',
                    password: '',
                    checked: []
                },
                submitted: false
            }
        },
        validations: {
            form: {
                email: { required, email },
                password: { required, minLength: minLength(6) }
            }
        },
        methods: {
            onSubmit( evt ) {
                evt.preventDefault()

                this.submitted = true

                this.$v.$touch()

                if(this.$v.$invalid)
                {
                    return;
                }
            },
            onReset(evt) {
                evt.preventDefault()
                this.form.email = ''
                this.form.password = ''
            }
        }
    }
</script>


