<template>
  <div>
    <div class="wrapper">
      <div class="container">
        <div class="logo">
          <img class="img-fluid" src="../assets/images/logo.png" />
        </div>

        <div class="signup-form">
          <h2>Sign Up to IQ Option</h2>

          <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group id="name-label" label="Name:" label-for="name">
              <b-form-input id="name" v-model="form.name" type="text" placeholder="Name"></b-form-input>
              <i class="fa fa-user"></i>
              <div v-if="submitted && !$v.form.name.required" class="error">Name is required</div>
            </b-form-group>

            <b-form-group id="mobile-label" label="Mobile Number:" label-for="mobile-number">
              <b-form-input
                id="mobile-number"
                v-model="form.mobile"
                type="text"
                placeholder="Mobile Number"
              ></b-form-input>


              <div
                v-if="submitted && !$v.form.mobile.required"
                class="error"
              >Mobile number is required</div>
              <div
                v-if="submitted && !$v.form.mobile.between"
                class="error"
              >Mobile number must be 10 to 13 digits</div>
              <div
                v-if="submitted && !$v.form.mobile.numeric"
                class="error"
              >Mobile number must be numeric</div>
              <i class="fa fa-phone"></i>
            </b-form-group>

            <b-form-group id="email-label" label="Email address:" label-for="email">
              <b-form-input id="email" v-model="form.email" type="email" placeholder="Email"></b-form-input>
              <div v-if="submitted && !$v.form.email.required" class="error">Email is required</div>
              <div v-if="submitted && !$v.form.email.email" class="error">Invalid Email</div>
              <i class="fa fa-envelope"></i>
            </b-form-group>

            <b-form-group id="password-label" label="Password" label-for="password">
              <b-form-input
                id="password"
                v-model="form.password"
                type="password"
                placeholder="Password"
              ></b-form-input>
              <div v-if="submitted && !$v.form.password.required" class="error">Password is required</div>
              <div
                v-if="submitted && !$v.form.password.minLength"
                class="error"
              >Password must be at least 6 characters</div>
              <i class="fa fa-lock"></i>
            </b-form-group>

            <b-button type="submit" variant="primary">Sign up</b-button>
          </b-form>
        </div>

        <div class="login-link">
          Have an account?
          <router-link id="login_btn" tag="button" to="/login">Login</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  required,
  email,
  minLength,
  between,
  numeric
} from "vuelidate/lib/validators";

export default {
  data() {
    return {
      form: {
        name: "",
        mobile: "",
        email: "",
        password: ""
      },
      submitted: false
    };
  },
  validations: {
    form: {
      email: { required, email },
      password: { required, minLength: minLength(6) },
      name: { required },
      mobile: { required, numeric, between: between(10, 13) }
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();

      this.submitted = true;

      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.password = "";
    }
  }
};
</script>
